body {
  margin: 0;
  padding: 0;
  font-family: "Palatino";
  font-size: 1.4vw;
}

header {
  color: #f1ecee;
  background-color: #ff983a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.75vw;
  padding: 0.5vw;
}

a {
  text-decoration: underline;
  color: #f1ecee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a:hover {
  text-decoration: underline;
  color: #0044ff;
}

.nav {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 10vw;
  justify-content: center;
}

.face {
  width: 5vw;
  height: auto;
  margin: 0.2vw;
}

.img {
  display: flex;
  justify-content: space-around;
}

.bild {
  width: 80vw;
  height: auto;
  margin: 1vw;
}

.matexempel {
  display: grid;
  grid-template-columns: 24.7vw 24.7vw 24.7vw 24.7vw;
  margin: auto;
}

.matexempeldiv {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  background-color: #ffa400;
  margin: 0.3vw;
  justify-content: center;
  padding-top: 0.5vw;
}
.matexempelp {
  grid-column-start: 2;
  background-color: #ffa400;
}

.matexempel a {
  text-decoration: underline;
  color: #000000;
}

.matexempel a:hover {
  text-decoration: underline;
  color: #0044ff;
}

.meny {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menysektion {
  display: grid;
  grid-template-columns: 45vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1vw;
  background-color: #ffa400;
}

.menyitem {
  display: grid;
  grid-template-columns: 5vw 1fr;
  grid-template-rows: auto;
  margin: 1vw;
  margin-left: 0vw;
}

.menytext {
  grid-column-start: 2;
  margin-top: 0.5vw;
  margin-bottom: 0vw;
}

.menybild {
  width: 20vw;
  height: auto;
  margin-top: 4vw;
  margin-bottom: 2vw;
  margin-left: 100%;
  display: flex;
  justify-self: space-around;
}
.omoss {
  margin: 0.5vw;
  background-color: #ffa400;
  padding: 1vw;
}

footer {
  padding: 0.3vw;
  color: #f1ecee;
  background-color: #ff983a;
  margin-top: 1vw;
  padding-bottom: 1vw;
}

.footergrid {
  display: grid;
  grid-template-columns: auto 50vw 15vw auto;
}
.footer1 {
  grid-column-start: 2;
}
