body {
  margin: 0;
  padding: 0;
  font-family: "Palatino";
  font-size: 1.2vw;
}

header {
  color: #f1ecee;
  background-color: #ec9c66;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.75vw;
  padding: 0.5vw;
}

a {
  text-decoration: none;
  color: #f1ecee;
}

a:hover {
  text-decoration: underline;
  color: #0044ff;
}

.nav {
  display: grid;
  grid-template-columns: 20vw 30vw 30vw 10vw;
}

.face {
  width: 5vw;
  height: auto;
  margin: 0.2vw;
}

.pizzabild {
  display: flex;
  justify-content: center;
  margin: 0.5vw;
}

.matexempel {
  display: grid;
  grid-template-columns: 24.25vw 24.25vw 24.25vw 24.25vw;
  margin: auto;
}

.matexempeldiv {
  display: grid;
  grid-template-rows: 2.5vw auto;
  grid-template-columns: 10vw 1fr 1fr 2;
  background-color: #97b4b1;
  margin: 0.3vw;
}
.matexempelp {
  grid-column-start: 2;
  background-color: #97b4b1;
  text-align: center;
}

.matexempel a {
  text-decoration: underline;
  color: #000000;
}

.meny {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.menysektion {
  display: grid;
  grid-template-columns: 45vw;
  margin-right: auto;
  margin-left: 1.5vw;
  margin-top: 0.5vw;
  background-color: #97b4b1;
}

.menyitem {
  padding-left: 0.2vw;
  display: grid;
  grid-template-columns: 5vw 1fr;
  grid-template-rows: auto;
  margin-bottom: 1vw;
}

.menytext {
  grid-column-start: 2;
  margin-top: 0.5vw;
  margin-bottom: 0vw;
}

footer {
  padding: 0.2vw;
  margin-top: 0;
  color: #f1ecee;
  background-color: #ec9c66;
  margin-top: 1vw;
}

.footergrid {
  display: grid;
  grid-template-columns: auto 50vw 15vw auto;
}
.footer1 {
  grid-column-start: 2;
}
